.menu {
    display: flex;
    justify-content: flex-start;
    display: none;
    
}

.menu-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
}

.menu-link {
    padding: 1em;
}

/*media quary*/
@media only screen and (max-width: 599px) {
    .menuMobile {
        display: flex;
        justify-content: center;
    }
}
  
@media only screen and (min-width: 600px) and (max-width: 1007px) {
    .menu {
        display: flex;
        justify-content: center;
    }

    .menuMobile {
        display: none;
    }
} 
  
@media only screen and (min-width: 1008px){
    .menu {
        display: flex;
        justify-content: center;
    }

    .menuMobile {
        display: none;
    }
} 