.clickMe {
    background-color: blue;
    height: 44px;
}

/*media quary*/
@media only screen and (max-width: 599px) {  

  }
  
  @media only screen and (min-width: 600px) and (max-width: 1007px) {
    .container-details {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 1em;
    }
  }

   
  @media only screen and (min-width: 1008px){ 
    .container-details {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 1em;      
    }
  

  } 
