.container {
  display: flex;
}

.item img {
  width: 100%;
}

/*media quary*/
@media only screen and (max-width: 599px) {
  .container {
    flex-wrap: wrap;
  }

  .item {
    padding: 8px;
  }
}

@media only screen and (min-width: 600px) {
  .item {
    flex: 1;
    padding: 20px;
  }
}