* {
  color: white;
}

a {
  color: white;
}

.App{
  text-align: center;
}

.app-background {
  background-color: black;
  color: white;
  height: 100vh;
}

.title {
  color: white;
  margin: 0px;
  padding: 2%;
}

.item {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.item:hover {
  transition: bottom 1s;
  bottom: 20px;
  border: white solid 1px;
}

img {
  width: 100%;
  height: 100%;
  border: white solid 0px;
}


/*media quary*/
@media only screen and (max-width: 599px) {
  .container {
    padding: 0 1em;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1007px) {

} 

@media only screen and (min-width: 1008px){
  .body {
    max-width: 1440px;
    margin: 0 auto;
  } 
} 